<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781422743512-pr1it5g8l369dcbapaivfc26al13pndf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781422743512-pr1it5g8l369dcbapaivfc26al13pndf</string>
	<key>API_KEY</key>
	<string>AIzaSyCwVxmNnKJzTJAibTf3a4oEr6-nayStZQE</string>
	<key>GCM_SENDER_ID</key>
	<string>781422743512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jun.tcp</string>
	<key>PROJECT_ID</key>
	<string>login-tcp-c9726</string>
	<key>STORAGE_BUCKET</key>
	<string>login-tcp-c9726.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781422743512:ios:8558d45ebf9a3c10532cad</string>
</dict>
</plist>